<!DOCTYPE html>
<html>
<head>
	<title>Task</title>
	<link rel="stylesheet" type="text/css" href="./bootstrap/css/bootstrap.min.css">
	<script type="text/javascript" src="./plugins/jQuery/jQuery-2.2.0.min.js"></script>
	<script type="text/javascript" src="./bootstrap/js/bootstrap.min.js"></script>
	<script type="text/javascript"  src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>

</head>
<body ng-app="exam">
		<script type="text/javascript">
			
			var app = angular.module('exam',[]);
			app.controller('taskCtrl',function($scope,$http)
			{
					$scope.model={};
					$scope.results=[];

					$scope.init=function()
					{
							$http.get('http://localhost:8484/exam/task/tasks')
							.success(function(items)
							{
								$scope.results=items;
							});
					};
					$scope.save=function()
					{
								$http.post('http://localhost:8484/exam/task/save',$scope.model)
								.success(function(ret)
								{
										location.reload();
								});
					};
			});
		</script>
		<div  ng-controller="taskCtrl" ng-init="init()">


			<div>
					<table class="table table-bordered">
			
							<thead>
								
								<tr>
										<th>TaskName</th>
										<th>Subject</th>
								</tr>
							</thead>
							<tbody >
								
								<tr ng-repeat="item in results">
									
									<td>{{item.taskName}}</td>
									<td>{{item.subject}}</td>
								</tr>


							</tbody>
					</table>
			</div>
			<div >
					<div class="row">
							<div class="col-xs-3">
									<label>Subject</label>
							</div>
							<div class="col-xs-3">
									<input type="text" class="form-control" ng-model="model.subject"/>
							</div>
					</div>
					<div class="row">
							<button class="btn btn-default" ng-click="save()">Save</button>
					</div>
			</div>
		</div>
	
</body>
</html>